.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


input, button {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    /* height: 2rem; */
    font-size: large;
    cursor: pointer;
    border: 1px solid transparent;

}

button {
    box-shadow: 0 3px 3px gray;
    border-radius: 1rem;
}

button:hover {
    border: 1px solid rgb(99, 97, 97);
}

